body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(150deg, #525FD1 7.25%, #D23385 22.33%, #D23385 54.96%, #F86E28 80.92%, #FEC965 90.72%);
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.main {
    min-width: 30%;
}

.box-1 {
    border: solid 1px white;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    align-items: center;
}

.box-1 #username {
    margin-top: 2rem;
    width: 100%;
    border: solid 1px white;
    border-radius: 7px;
    height: 2rem;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

.box-1 #username::placeholder {
    color: black;
    opacity: 0.7;
}

.box-1 #password {
    margin-top: 0.5rem;
    width: 100%;
    border: solid 1px white;
    border-radius: 7px;
    height: 2rem;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

.box-1 #password::placeholder {
    color: black;
    opacity: 0.7;
}

.box-1 #login {
    margin-top: 0.5rem;
    width: 105%;
    border: solid 1px white;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

.box-1 #login:hover {
    text-decoration: solid underline 1px white;
}

hr {
    width: 100%;
    color: white;
    margin-top: 2rem;
}

.box-1 #fb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    border: solid 1px white;
    border-radius: 7px;
    background-color: transparent;
    width: 100%;
    padding: 0.5rem;
    height: 2rem;
    justify-content: center;
}

.box-1 #fb a:active, #fb a:link, #fb a:visited {
    color: white;
    text-decoration: none;
}

.box-1 #fb a:hover {
    color: white;
    text-decoration: solid underline 1px white;
}

.box-1 #password-frgt {
    color: white;
    text-decoration: none;
}

.box-1 #password-frgt:active, #password-frgt:link, #password-frgt:visited {
    color: white;
    text-decoration: none;
}

.box-1 #password-frgt:hover {
    color: white;
    text-decoration: solid underline 1px white;
}

.box-2 {
    border: solid 1px white;
    border-radius: 20px;
    display: flex;
    flex-flow: row;
    padding: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
    color: white;
}

#signup {
    color: white;
    text-decoration: none;
}


#signup:active, #signup:link, #signup:visited {
    color: white;
    text-decoration: none;
}

#signup:hover {
    color: white;
    text-decoration: solid underline 1px white;
}

.box-3 {
    display: flex;
    flex-flow: column;
    padding: 0.5rem;
    align-items: center;
    margin-top: 1rem;
    color: white;
}


.footer {
    margin-bottom: 4rem;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer ul li {
    color: white;
    text-decoration: none;
    flex: 1 1;
}

.footer ul a:active, .footer ul a:link, .footer ul a:visited {
    color: white;
    text-decoration: none;
}

.footer ul a:hover {
    color: white;
    text-decoration: solid underline 1px white;
}

@media (max-width: 1020px) {
    .footer {
        visibility: hidden;
    }

    .main {
        flex: 0;
        min-width: 50%;
    }
}

@media (max-width: 600px) {
    .footer {
        visibility: hidden;
    }

    .main {
        flex: 0;
        min-width: 90%;
    }
}