body {
    margin: 1rem;
    padding: 0rem;
    font-family: 'Grey Qo', cursive;
    font-weight: 400;
    background-color: black;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 20rem;
    column-gap: 2rem;
    row-gap: 2rem;
}

.grid-container div {
    border: solid 2px white;
    border-radius: 2rem;
}

#demon {
    background-image: url('demon1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255,255,255,0.1);
    background-blend-mode: lighten;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
}

#juju {
    background-image: url('juju1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: darken;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
}

#naruto {
    background-image: url('naruto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: darken;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
}

#one {
    background-image: url('one2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: darken;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
}

#solo {
    background-image: url('solo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: darken;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
}

#spider {
    background-image: url('spider2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: darken;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-auto-rows: 15rem;
    }

    .grid-container div {
        font-size: 15vw;
    }
}